{% extends 'registration/base.html' %}

{% block title %}
    <title>Login in site</title>
{% endblock title %}

{% block header %}
    <h1 style="color: rgb(153, 145, 145);">Login</h1>
{% endblock header %}

{% block content %}
<div class="d-flex justify-content-center form_container">
    <form method="POST" action="">
    {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" name="username" placeholder="Username..." class="form-control">
        </div>
        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
                <input type="password" name="password" placeholder="Password..." class="form-control" >
            </div>
            <span class="errors-text">{{form.errors}}</span>
            <div class="d-flex justify-content-center mt-3 login_container">
                <input class="btn login_btn" type="submit" value="Login">
            </div>
    </form>
</div>

<div class="mt-4">
    <div class="d-flex justify-content-center links">
        <span class="help-text">Don't have an account?</span> <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
    </div>
</div>
{% endblock %}

    