{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}AdminLTE | LIST OF FILMS{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'admin_statistics' %}">Home</a></li>
<li class="breadcrumb-item active">Films</li>
{% endblock breadcrumb %}


{% block content %}
<div class="card">
    <a href="{% url 'admin_create_film' %}"><button type="button" class="btn btn-lg btn-block btn-outline-primary">ADD FILM ✍️</button></a>
</div>
{% if object_list %}
<div class="row">
    {% for film in object_list %}
    <div class="col-md-2">
        <div class="card mb-2 shadow-sm">
            <a href="{% url 'admin_film_detail' film.id%}"><img class="card-img-top" src="{{film.preview.url}}" alt="{{film.preview}}" style="height: 40vh; width: 100%%; display: block; margin: auto;"></a> 
            <div class="card-body">
                <h2 class="card-text text-center">{{film.name}}</h2>
                <a href="{% url 'admin_update_film' film.id %}" class="btn btn-sm btn-warning float-left">Edit film</a>
                <a href="{% url 'admin_delete_film' film.id %}" class="btn btn-sm btn-danger float-right">Delete film</a>
            </div>
        </div>
    </div>
    {% endfor %} 
</div>
{% else %}
    <blockquote class="text-center">
        <p class="blockquote text-center">There`re no films yet 🙄</p> 
    </blockquote>
{% endif %} 

{% endblock content %}

