{% extends 'kino/base.html' %}

{% comment %} <head>
    <meta name="description" property="og:description" content="{{home_page.seo_description}}">
    <meta name="keywords" content="{{home_page.seo_keywords}}">    
</head> {% endcomment %}

{% block title %}
    <title>Cinemas</title>
{% endblock title %}

{% block content %}
<div class="container bg-light">
    <div class="album py-5">
        <div class="container">
            <div class="row">
                {% for cinema in cinema_list %}
                    <div class="col-md-2">
                        <div class="card mb-2 shadow-sm">
                            <a href="{% url 'cinema_detail' cinema.id%}"><img class="card-img-top" src="{{ cinema.preview.url }}" alt="{{ cinema.preview }}" style="height: 250px; width: 100%%; display: block;">
                            <div class="card-body">
                                <p class="card-text">{{ cinema.name }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div> 
    </div>
</div>
{% endblock  %}