{% extends 'kino/base.html' %}

{% block title %}
    <title>Cinema</title>
{% endblock title %}

{% block content %}
<div class="card container">
<img src="{{ cinema.preview.url }}" alt="{{ cinema.preview }}" style="width: 100%%; height:500;"></br>
    <div class="card-header border-transparent">
    <!-- /.card-header -->
    <div class="row">
        <hr>
        <!-- /.box-header -->
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <div class="box-header with-border">
                    <h3 class="box-title">«{{ cinema.name }}»</h3>
                </div>
                <dt>Description:</dt>
                <dd>{{ cinema.description }}</dd>
            </dl>
        </div>
        
        <div class="col-md-8">
            <!-- /.box-body -->
            <h3 style="text-align: center;">Photo</h3>
            <div id="carouselExampleDark" class="carousel carousel-dark slide container" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner" role="listbox" style=" width:100%; height: 500px !important;">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{{cinema.image1.url}}" alt="{{cinema.image1}}">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{cinema.image2.url}}" alt="{{cinema.image2}}">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{cinema.image3.url}}" alt="{{cinema.image2}}">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{cinema.image4.url}}" alt="{{cinema.image2}}">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{cinema.image5.url}}" alt="{{cinema.image2}}">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>  
        </div>
        <div class="box">
        <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row"><div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                {% if cinemahalls %}
                    <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending">Halls</th>
                    </thead>
                    {% for cinemahall in page_obj %}
                        <tbody>
                            <tr role="row" class="odd">
                                <td class="sorting_1"><a href="{% url 'cinemahall_detail' cinema.id cinemahall.id%}">{{cinemahall.name}}</a></td>
                            </tr>
                        </tbody>
                    {% endfor %}
                {% else %}
                    <h3 style="color:red;">Halls will be soon! :)</h3>
                {% endif %}
                </table>
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
{% endblock content %}
