{% extends 'kino/base.html' %}
{% load static %}

<head>
    <meta name="description" property="og:description" content="{{cinema.seo_description}}">
    <meta name="keywords" content="{{cinema.seo_keywords}}">    
</head>

{% block title %}
    <title>Cinemas</title>
{% endblock title %}

{% block content %}
<div class="row" style="min-height: 70vh;">
    <div class="col-md-1"></div>    
    <div class="col-md-9 bg-light">
        <div class="container">
            <h1 class="text-center">Cinemas</h1>
            {% if cinema_list %}
            <div class="row">
                {% for cinema in cinema_list %}
                    <div class="col-md-6">
                        <div class="card mb-6 shadow-sm">
                            <a class="text-decoration-none" href="{% url 'cinema_detail' cinema.id%}"><img class="card-img-top" src="{{ cinema.preview.url }}" alt="{{ cinema.preview }}" style="height: 250px; width: 100%%; display: block;">
                            <div class="card-body">
                                <h4 class="card-text text-center ">{{ cinema.name }}</h4>
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <blockquote class="text-center">
                    <p class="blockquote text-center">Sooo empty.. 🙄</p> 
                </blockquote>
            {% endif %}
        </div>
    </div> 
    <div class="col-md-2">
        <div class="text-center">
            <img src="{% static 'kino/images/1000x500.png' %}" class="img-fluid" alt="Context_ads" style="max-width: 100%%; height:500px;">
            <p>CONTEXT ADS</p>
        </div> 
    </div>
</div>
{% endblock  %}