{% extends 'kino/base.html' %}
{% load static %}

<head>
    <meta name="description" property="og:description" content="{{cinema.seo_description}}">
    <meta name="keywords" content="{{cinema.seo_keywords}}">    
</head>

{% block title %}
    <title>{{cinema.seo_title}}</title>
{% endblock title %}

{% block content %}
<img class ="img-fluid" src="{{ cinema.preview.url }}" alt="{{ cinema.preview }}" style="max-width: 100%%; height:auto;">
<br><br>

<div class="row bg-light" style="min-height: 70vh;">
    
    <div class="col-md-2">
        <div class="text-center">
            <img src="{% static 'kino/images/1000x500.png' %}" class="img-fluid" alt="Context_ads" style="max-width: 100%%; height:500px;">
            <p>CONTEXT ADS</p>
        </div>
        {% if cinemahalls %}
        <div class="box">
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending">Halls</th>
                    </thead>
                    {% for cinemahall in page_obj %}
                        <tbody>
                            <tr role="row" class="odd">
                                <td class="sorting_1"><a class="text-decoration-none" href="{% url 'cinemahall_detail' cinema.id cinemahall.id%}">{{cinemahall.name}}</a></td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                {% else %}
                    <h3 style="color:red;">Halls will be soon! :)</h3>
                {% endif %}
            </div>
        </div>
        <div>
            <h5>Watch today:</h5>
            <p>Sessions today</p>
        </div>
        <div>
            <a class="btn btn-success" href="#">All sessions</a>
        </div>
    </div>

    <div class="col-md-9">
        <br>
        <div class="row">
            <div class="col-md-3">
                <h3 class="box-title">«{{ cinema.name }}»</h3>
            </div> 
            <div class="col-md-3">
                <img src="{{ cinema.logo.url }}" alt="{{ cinema.logo }}" style="max-width: 100px; height:auto;"></br>
            </div>
            <div class="col-md-6">
                <a class="btn btn-success" href="#">Schedule</a>
                <h3 class="box-title">Type of cinema(viphall,3d, dolby atmos, D-box)</h3>
            </div>
        </div>
        <hr>
        <div class="">
            {{ cinema.description}}
        </div>
        <div class="">
            <h3 class="text-center">Conditions</h3>
            {{ cinema.conditions}}
        </div>
        <h3 class="text-center">Gallery</h3>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"> 
            <ol class="carousel-indicators">
                {% comment %} DYNAMIC CAROUSEL BOTTOM INDICATOR {% endcomment %}
                {% for image in gallery %}
                    {% if forloop.counter0|divisibleby:"1" %}
                        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop}}"{% if forloop.first %} class="active" {% endif %}></li>
                    {% endif %}
                {% endfor %}
            </ol>
            
            <div class="carousel-inner">
                {% for image in gallery %}
                    {% if forloop.counter0|divisibleby:"1" %}
                        <div class="carousel-item {% if forloop.first %} active {% endif %}"> 
                            <div class="row">{% endif %}
                                <a href="{{ image.url }}#"><img class="d-block w-100" src="{{image.image.url}}" alt="{{image.image1}}"></a>
                                {% if forloop.counter0|divisibleby:"1" %}
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{image.text}} SLIDER_TEXT</h5>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
        <br>
    </div>

    <div class="col-md-1"></div>  

</div>
{% endblock content %}
