{% extends 'kino/base.html' %}
{% load static %}

<head>
    <meta name="description" property="og:description" content="{{film.seo_description}}">
    <meta name="keywords" content="{{film.seo_keywords}}">    
</head>

{% block title %}
    <title>Film «{{ film.seo_title }}»</title>
{% endblock title %}

{% block content %}
<div class="card container">
<br>
<iframe width="100%" height="800" src="{{ film.video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <div class="row">
        <h4 class="text-center">Schedule for week</h4>
        {% if schedule %}
        {% regroup schedule by date as day_list %}
        {% for day in day_list%}
        <div class="col-md-2">
            <table id="example" class="table table-bordered table-hover dataTable table-dark" role="grid" aria-describedby="example_info">
                <tbody>
                <tr role="row">
                        <td class="sorting text-center"><h6>{{day.grouper}}</h6></td>                          
                    </tr>
                    <tr role="row" class="odd">
                        <td class="text-center" width="10%">{{day.grouper|date:"l" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}
        {% else %}
        <blockquote class="text-center">
            <p class="blockquote text-center">Schedule for a week will comming soon! </p> 
        </blockquote>   
        {% endif %}
        <div class="col-md-12">
            <h4 class="text-center">Schedule for today</h4>
            {% if schedule_today %}
            <div class="text-center">
                <div class="row">
                {% for item in schedule_today %}
                    <div class="col-md-2">
                        <table id="example" class="table table-bordered table-hover dataTable table-dark" role="grid" aria-describedby="example_info">
                            <tbody> 
                                <td class="sorting text-center">{{item.date.day}} {{item.date|date:'F'}}</td>
                                    <td class="sorting text-center">
                                        {% if item.two_dimensions %}
                                            <button class="btn btn-success">2D</button>
                                        {% endif %}
                                        {% if item.three_dimensions %}
                                            <button class="btn btn-warning">3D</button>
                                        {% endif %}
                                        {% if item.imax %}
                                            <button class="btn btn-info">IMAX</button>
                                        {% endif %}
                                    </td>
                                <tr role="row" class="odd">
                                    <td class="text-center">Hall {{item.cinemahall|truncatechars:40}}</td>
                                    <td class="text-center">{{item.time}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% else %}
            <blockquote class="text-center">
                <p class="blockquote text-center">Schedule for today will comming soon! </p><br> 
            </blockquote>   
            {% endif %}
        </div>

        <div class="col-md-4">
        
            <img src="{{ film.preview.url }}" alt="{{ film.preview }}" style="width: 400px; max-height:450px">
            <dl class="dl-horizontal text-center">
                <br>
                <dt>Year</dt>
                <dd>{{ film.year }}</dd>
                <dt>Genre:</dt>
                <dd>{{ film.genre }}</dd>
                <dt>Director:</dt>
                <dd>{{ film.director }}</dd>
                <dt>Producer:</dt>
                <dd>{{ film.producer }}</dd>
                <dt>Music By:</dt>
                <dd>{{ film.music }}</dd>
                <dt>Written By:</dt>
                <dd>{{ film.scenarist }}</dd>
                <dt>Country:</dt>
                <dd>{{ film.country }}</dd>
                <dt>Duration:</dt>
                <dd>{{ film.duration|truncatechars:6|slice:"-1" }}</dd>
            </dl>
        </div>
        
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <div class="text-center">
                    <a class="btn btn-danger" href="#">Buy ticket</a>
                </div>
                <br>
                <div class="box-header with-border text-center">
                    <h3 class="box-title text-center">«{{ film.name }}»</h3>
                    {% if film.two_dimensions %}
                        <button class="btn btn-success">2D</button>
                    {% endif %}
                    {% if film.three_dimensions %}
                        <button class="btn btn-warning">3D</button>
                    {% endif %}
                    {% if film.imax %}
                        <button class="btn btn-info">IMAX</button>
                    {% endif %}
                </div>
                <br>
                <dt>Description:</dt>
                <dd>{{ film.description }}</dd>
            </dl>

            <hr>
            <h3 style="text-align: center;">Frames</h3>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"> 
                <ol class="carousel-indicators">
                    {% for image in gallery %}
                        {% if forloop.counter0|divisibleby:"1" %}
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop}}"{% if forloop.first %} class="active" {% endif %}></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                
                <div class="carousel-inner" >
                    {% for image in gallery %}
                        {% if forloop.counter0|divisibleby:"1" %}
                            <div class="carousel-item {% if forloop.first %} active {% endif %}"> 
                                <div class="row">
                                    <img class="d-block w-100 img-fluid" src="{{image.image.url}}" alt="{{image.image1}}" style="width:100%; height: 60vh !important;">
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>

                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
            <br>
        </div>
    </div>
    <hr>
    <div class="text-center">
        <a href="{{ads.url}}"><img src="{{ads.image.url}}" class="img-fluid" alt="{{ads.image}}" width="100%" style="max-height:200px;"></a>
    </div> 
    <br>
</div>
{% endblock content %}
