{% extends 'kino/base.html' %}

{% block title %}
    <title>Premiere</title>
{% endblock title %}

{% block content %}

<div class="container bg-light">
    <h1 style="text-align: center;">Premiere</h1>
    <div class="album py-5">
        <div class="container">
            <div class="row">
                {% for film in film_list %}
                    {% if film.get_premiere %}
                    {% with firm.get_premiere as p %}
                        <div class="col-md-2">
                            <div class="card mb-2 shadow-sm">
                                <a href="{% url 'film_detail' film.pk%}"><img class="card-img-top" src="{{ film.preview.url }}" alt="{{ film.preview }}" style="height: 250px; width: 90%%; display: block;">
                                <div class="card-body">
                                    <p class="card-text">{{ film.name }}</a></p>
                                    <p class="btn btn-block btn-outline-success">Premiere<br> {{ film.premiere}}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Buy ticket</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                    {% endif %}
                {% endfor %}
            </div>
        </div> 
    </div>

</div>
{% endblock  %}