{% extends 'kino/base.html' %}
{% load static %}


{% block title %}
    <title>Schedule</title>
{% endblock title %}

{% block content %}

<div class="row" style="min-height: 70vh;">
    <div class="col-md-1"></div>   
    <div class="col-md-9 bg-light">
        <div class="album py-3">
            <div class="container">
                <h1 class="text-center">Schedule</h1>
                {% if schedule_list %}
                <div class="row">
                    {% regroup schedule_list by date as day_list %}
                    {% for day in day_list%}                                 
                        <h3>{{day.grouper}} - {{day.grouper|date:"l" }}</h3>
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                            <thead class="thead-dark">
                                <tr role="row">
                                    <th class="sorting_asc text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Start time</th>
                                    <th class="sorting text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Film</th>
                                    <th class="sorting text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Hall</th>
                                    <th class="sorting text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Minimum cost</th>
                                    <th class="sorting text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Book a ticket</th>
                                </tr>
                            </thead>
                            <tbody> 
                                {% for item in day.list %}
                                    <tr role="row" class="odd">
                                        <td class="text-center" width="10%">{{item.time}}</td>
                                        <td class="text-center" width="40%">
                                            {{item.film|truncatechars:50}}
                                            {% if item.two_dimensions %}
                                                <button class="btn btn-success">2D</button>
                                            {% endif %}
                                            {% if item.three_dimensions %}
                                                <button class="btn btn-warning">3D</button>
                                            {% endif %}
                                            {% if item.imax %}
                                                <button class="btn btn-info">IMAX</button>
                                            {% endif %}
                                        </td>
                                        <td class="text-center" width="10%">{{item.cinemahall|truncatechars:40}}</td>
                                        <td class="text-center" width="10%">{{item.cost}}</td>
                                        <td class="text-center" width="10%"><a href="#"><i class="fa fa-ticket"></i></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
                {% else %}
                <blockquote class="text-center">
                    <p class="blockquote text-center">There is no schedule yet.. </p> 
                </blockquote>
                {% endif %}
            </div> 
        </div>
    </div>
    <div class="col-md-2">
        <div class="text-center">
            <a href="{{ads.url}}"><img src="{{ads.image.url}}" class="img-fluid" alt="{{ads.image}}" width="100%" style="max-height:50vh;"></a>
        </div> 
    </div>
</div>
{% endblock  %}