{% extends 'kino/base.html' %}
{% load static %}


{% block title %}
    <title>Schedule</title>
{% endblock title %}

{% block content %}

<div class="row" style="min-height: 70vh;">
    <div class="col-md-1"></div>   
    <div class="col-md-9 bg-light">
        <div class="album py-3">
            <div class="container">
                <h1 class="text-center">Schedule</h1>
                <div class="row">
                    {% regroup schedule_list by date as day_list %}
                    {% for day in day_list%}                                 
                                <h3>{{day.grouper}}</h3>
                                <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                    <thead class="thead-dark">
                                        <tr role="row">
                                            <th class="sorting_asc text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Start time</th>
                                            <th class="sorting text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Film</th>
                                            <th class="sorting text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Hall</th>
                                            <th class="sorting text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Minimum cost</th>
                                            <th class="sorting text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Book a ticket</th>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        {% for item in day.list %}
                                            <tr role="row" class="odd">
                                                <td class="text-center" width="5%">{{item.time}}</td>
                                                <td class="text-center" width="25%">{{item.film}}</td>
                                                <td class="text-center" width="5%">{{item.cinemahall}}</td>
                                                <td class="text-center" width="5%">{{item.cost}}</td>
                                                <td class="text-center" width="5%"><a href="#"><i class="fa fa-ticket"></i></a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
     
                    {% endfor %}
                </div>
            </div> 
        </div>
    </div>
    <div class="col-md-2">
        <div class="text-center">
            <img src="{% static 'kino/images/1000x500.png' %}" class="img-fluid" alt="Context_ads" style="max-width: 100%%; height:500px;">
            <p>CONTEXT ADS</p>
        </div> 
    </div>
</div>
{% endblock  %}