{% extends 'kino/base.html' %}
{% load static %}

{% block title %}
    <title>{{shares.seo_title}}</title>
{% endblock title %}

{% block content %}
<div class="card container" style="min-width: 180vh !important;">
    <br>
    <div class="row">
        <div class="col-md-10">
            <div class="row" style="min-height: 70vh;">
                <div class="col-md-6">
                    <img class="img-fluid" src="{{ shares.preview.url }}" alt="{{ shares.preview }}"  style="height: 50vh !important;"></br>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <div class="box-header with-border">
                            <h3 class="box-title text-center">«{{ shares.name }}»</h3>
                        </div>
                        <dt>Date:</dt>
                        <dd>{{ shares.pub_date }}</dd>
                        <dt>Description:</dt>
                        <dd>{{ shares.description }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center">
                <img src="{% static 'kino/images/1000x500.png' %}" class="img-fluid" alt="Context_ads" style="max-width: 100%%; height:500px;">
                <p>CONTEXT ADS</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
