{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}AdminLTE | List Of Cinemas{% endblock title %}

{% block content_header %}List of Cinemas{% endblock content_header %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Home</a></li>
    <li class="breadcrumb-item active">Cinemas</li>
{% endblock breadcrumb %}


{% block content %}
<div class="album py-5 bg-light">
    <div class="row">
        {% if object_list %}
            {% for cinema in object_list %}
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <a href="{% url 'admin_cinema_detail' cinema.pk%}"><img class="card-img-top" src="{{cinema.preview.url}}" alt="{{cinema.preview}}" style="height: 225px; width: 100%%; display: block; margin: auto;">
                        <div class="card-body">
                            <p class="card-text">{{cinema.name}}</p>
                        </div>
                        </a>          
                    </div>
                </div>
            {% endfor %} 
        {% else %}
            <p>There is no Cinemas yet.</p> 
        {% endif %} 
        <div class="col-md-3">
            <div class="card-body">
                <a href="{% url 'admin_add_cinema' %}"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Add New Cinema</button></a>
            </div>   
        </div>
    </div>
</div>
{% endblock content %}

