{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}AdminLTE | Add Cinema{% endblock title %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'admin_statistics' %}">Home</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'admin_cinemas' %}">Cinemas</a></li>
    <li class="breadcrumb-item active">New Cinema</li>
{% endblock breadcrumb %}


{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Add new Cinema</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="box-body">
                <div class="form-group">
                    {{ formset.management_form }}
                    {{ form.as_p }}
                    {% for form in formset %}
                        <div class="row">
                            <div class='col-md-2'>
                                <div class='card mb-2 shadow-sm'>
                                    <img src="/media/{{form.image.value}}" style="height: 200px; width: 160px; display: block; margin: auto;">
                                    <div class="card-body">
                                        {{form}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                <button type="submit" class="btn btn-primary">Add new Cinema</button>
                </div>
            </div>
        </form>
    </div>
    
</div>
{% endblock content %}

