{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}AdminLTE | Add Cinemahall{% endblock title %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'admin_statistics' %}">Home</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'admin_cinemas' %}">Cinemas</a></li>
    <li class="breadcrumb-item active">New Cinemahall</li>
{% endblock breadcrumb %}


{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Add new Cinemahall</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="box-body">
                <div class="form-group">
                    {{ formset.management_form }}
                    {{ form.as_p }}
                    {% comment %} FORMSET OF IMAGES {% endcomment %}
                    {% include 'admin_panel/formset_images.html' %}
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                <button type="submit" class="btn btn-primary">Add new Cinemahall</button>
                </div>
            </div>
        </form>
    </div>
    
</div>
{% endblock content %}

