{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}AdminLTE | Cinema «{{ cinema.name }}»{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'admin_statistics' %}">Home</a></li>
<li class="breadcrumb-item active"><a href="{% url 'admin_cinemas' %}">Cinemas</a></li>
<li class="breadcrumb-item active">«{{ cinema.name|truncatechars:20 }}»</li>
{% endblock breadcrumb %}


{% block content %}
<div class="card">
    <div class="box box-solid">
        <div class="box-header with-border">
            <h1 class="box-title text-center">«{{ cinema.name }}»</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <img class="img-fluid" src="{{ cinema.preview.url }}" alt="{{ cinema.preview }}"></br>
                </div>
                <div class="col-md-5">
                    <div class="box">
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                                   aria-describedby="example2_info">
                            <div class="card-body">
                                {% comment %} <a href="{% url 'admin_cinemahall_type_add' cinema.id%}">
                                    <button type="button" class="btn btn-lg btn-block btn-outline-success">
                                        Add New Hall Type
                                    </button>
                                </a>  {% endcomment %}
                                <a href="{% url 'admin_add_cinemahall' cinema.id%}">
                                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">
                                        Add New Hall
                                    </button>
                                </a>
                            </div>
                            {% if cinemahalls %}
                                <thead>
                                <tr role="row">
                                    <th class="sorting_asc text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending">Name</th>
                                    <th class="sorting text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Created date</th>
                                    <th class="sorting text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Edit/Delete</th>
                                </thead>
                                {% for cinemahall in page_obj %}
                                    <tbody>
                                        <tr role="row" class="odd">
                                            <td class="text-center" width="40%"><a href="{% url 'admin_cinemahall_detail' cinema.id cinemahall.id%}">{{cinemahall.name|truncatechars:10}}</a></td>
                                            <td class="text-center" width="30%">{{cinemahall.created_date}}</td>
                                            <td class="text-center" width="30%"><a class="btn btn-sm btn-warning" href="{% url 'admin_update_cinemahall' cinema.id cinemahall.id%}">Update</a> <a class="btn btn-sm btn-danger" href="{% url 'admin_delete_cinemahall' cinema.id cinemahall.id%}">Delete</a></td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                            {% else %}
                                <blockquote class="text-center">
                                    <p class="blockquote text-center">There`re no cinemas yet 🙄</p> 
                                </blockquote>
                            {% endif %}
                            </table>
                            <div class="pagination">
                                <span class="step-links">
                                    {% if page_obj.has_previous %}
                                        <a href="?page=1">&laquo; first</a>
                                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                    {% endif %}

                                    <span class="current">
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>

                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    <dt><h3 class="text-center">Description:</h3></dt>
                    <dd>{{ cinema.description|truncatechars:'500'|linebreaks }}</dd>
                    <dt><h3 class="text-center">Conditions:</h3></dt>
                    <dd>{{ cinema.conditions|truncatechars:'500'|linebreaks }}</dd>
                </dl>
            </div>
        </div>
    </div>
    {% if image_list %}
    <h3 class="text-center">Gallery</h3>
    <div class="card-body">
        <div class="card-body p-0">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% comment %} DYNAMIC CAROUSEL BOTTOM INDICATOR {% endcomment %}
                    {% for image in image_list %}
                        {% if forloop.counter0|divisibleby:"1" %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop}}" {% if forloop.first %} class="active" {% endif %}></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                
                {% comment %} DYNAMIC SLIDER {% endcomment %}
                <div class="carousel-inner" role="listbox" style=" width:100%; height: 90vh !important;">
                    {% for image in image_list %}
                        {% if forloop.counter0|divisibleby:"1" %}
                            <div class="carousel-item {% if forloop.first %} active {% endif %}"> 
                                <div class="row">{% endif %}
                                    <img src="{{image.image.url}}" alt="{{image.image}}" style="width:100%; height: 100vh !important;">
                                    {% if forloop.counter0|divisibleby:"1" %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-custom-icon" aria-hidden="true">
                    <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-custom-icon" aria-hidden="true">
                    <i class="fas fa-chevron-right"></i>
                    </span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
    {% endif %}
    </div>     

    </div>
    <div class="card-footer clearfix">
        <a href="{% url 'admin_update_cinema' cinema.id %}" class="btn btn-sm btn-warning float-left">Edit Cinema</a>
        <a href="{% url 'admin_delete_cinema' cinema.id %}" class="btn btn-sm btn-danger float-right">Delete Cinema</a>
    </div>
</div>

{% endblock content %}

