{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}AdminLTE | Update User{% endblock title %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'admin_statistics' %}">Home</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'admin_users' %}">Users</a></li>
    <li class="breadcrumb-item active">Update User</li>
{% endblock breadcrumb %}


{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Update User</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="box-body">
            <div class="form-group">
                {{ user_form.as_p}}
                {{ client_form.as_p }}
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
    
</div>
{% endblock content %}