{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}AdminLTE | Update Advertising Page{% endblock title %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Home</a></li>
    <li class="breadcrumb-item active">Update Advertising page</li>
{% endblock breadcrumb %}


{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title text-center">Update Advertising page</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
                {{ formset.management_form }}
                {{ form.as_p }}
                <div class="row">
                    {% for form in formset %}
                        <div class='col-md-2'>
                            <div class='card mb-2 shadow-sm'>
                                <img src="/media/{{form.image.value}}" style="height: 225px; width: 160px; display: block; margin: auto;">
                                <div class="card-body">
                                    {{form}}
                                </div>
                            </div>
                        </div>
                    {% endfor %}    
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
    
</div>
{% endblock content %}
