{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}AdminLTE | List Of Films{% endblock title %}

{% block content_header %}List of films{% endblock content_header %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Home</a></li>
    <li class="breadcrumb-item active">Films</li>
{% endblock breadcrumb %}


{% block content %}
<div class="card">
    <div class="card-header border-transparent">
    <h3 class="card-title">Films</h3>

    <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
        </button>
    </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
    <div class="table-responsive">
        <table class="table m-0">
        <thead>
        <tr>
            <th>Preview</th>
            <th>Name</th>
            <th>Description</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Director</th>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        {% for film in object_list %}
            <tr>
                <td style="width: 200px;"><img src="{{ film.preview.url }}" alt="{{ film.preview }}" style="width: 100px;"></td>
                <td style="width: 150px;">
                    <a href="{% url 'admin_film_detail' film.pk %}">«{{ film.name }}»</a><hr>
                    <a href="{% url 'admin_update_film' film.pk %}" class="btn btn-primary">EDIT</a>
                </td>
                <td style="width: 450px; height: 200px;">{{ film.description|truncatechars:140 }}</td>
                <td>{{ film.genre }}</td>
                <td>{{ film.year }}</td>
                <td>{{ film.director }}</td>
                <td>{{ film.country }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    <!-- /.table-responsive -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
        <a href="{% url 'admin_add_film' %}" class="btn btn-sm btn-info float-left">ADD NEW FILM</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">DELETE FILM</a>
    </div>
    <!-- /.card-footer -->
</div>

{% endblock content %}

