{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}AdminLTE | Pages{% endblock title %}

{% block content_header %}Pages{% endblock content_header %}

{% block content %}
<div class="box-header">
    <h3 class="box-title"><a href="{% url 'admin_create_users' %}"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Add News</button></a></h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row"><div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>
                    <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending">ID</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">ID</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Edit/Delete</th>
                </thead>
                {% if pages %}
                    <tbody>
                        {% for page in pages %}
                            <tr role="row">
                                <td class="sorting_1">{{user.id}}</td>
                                {% comment %} <td><a class="btn btn-sm btn-warning" href="{% url 'admin_update_users' user.pk%}">Update</a> <a class="btn btn-sm btn-danger" href="{% url 'admin_delete_user' user.pk%}">Delete</a></td> {% endcomment %}
                            </tr>
                        {% endfor %}
                    </tbody>
                {% else %}
                    <p>There is not news yet!</p>
                {% endif %}
                </table>
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>        
<!-- /.col -->
</div>
{% endblock content %}