{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}AdminLTE | News List{% endblock title %}

{% block content_header %}News list{% endblock content_header %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'admin_statistics' %}">Home</a></li>
    <li class="breadcrumb-item active">News</li>
{% endblock breadcrumb %}

{% block content %}
<div class="box-header">
    <h3 class="box-title"><a href="{% url 'admin_add_news' %}"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Add News</button></a></h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row"><div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending">Name</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Create date</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Status</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Edit/Delete</th>
                </thead>
                {% if object_list %}
                    <tbody>
                        {% for news in object_list %}
                            <tr role="row" class="odd">
                                <td class="sorting_1"><a href="{% url 'admin_news_detail' news.pk%}">{{news.name}}</a></td>
                                <td>{{news.pub_date}}</td>
                                <td>{{news.status}}</td>
                                <td><a class="btn btn-sm btn-warning" href="{% url 'admin_update_news' news.pk%}">Update</a>  <a class="btn btn-sm btn-danger" href="{% url 'admin_delete_news' news.pk%}">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                {% else %}
                    <p>There is not news yet!</p>
                {% endif %}
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>        
<!-- /.col -->
</div>
{% endblock content %}